.DS_Store
*.log
simple.html.orig
simple_BACKUP_3643.html
simple_BACKUP_3750.html
simple_BASE_3643.html
simple_BASE_3750.html
simple_LOCAL_3643.html
simple_LOCAL_3750.html
simple_REMOTE_3643.html
simple_REMOTE_3750.html